body,html{
  background-color: #F2F4F7;
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 16px;
  margin: 0;
  padding: 0;
  
}
#root{
  width: 100%;
  margin: 0;
  padding: 0;
   
}
.login-wrapper{
  display: flex;
  justify-content: center; 
  align-items: center;     
  min-height: 100vh;
  background-color: #f0f2f5; 
  padding: 20px;
  width: 100%;
  flex-direction: column;
}
.login-content{
 
  align-items: center;
  width: 100%;
  max-width: 980px;
}
.logo-section{
  text-align: center;
  margin-bottom: 30px;
  width: 100%;

}
.logo-section p,.logo-section span{
  font-size: 1.5rem;
  width: 100%;
  max-width: 500px;
  text-align: center;
  display: block;
  margin: 0 auto;

}
.login-form-section {
  width: 100%;
  max-width: 400px; 
  text-align: center;
  margin: 0 auto;
}

a:hover{
  text-decoration: underline;
}
.login-card{
  background-color: #FFF;
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1), 0 8px 16px rgba(0, 0, 0, 0.1);
  padding: 22px;
  margin-bottom: 40px;
}
.login-card input,.login-card select,.login-card input[type="radio"]{
  border: 1px solid #b6b6b6;
  font-size: 0.8rem;
}

.new-account{
  background-color:#36a420;
  border:none;
  padding:15px;
  font-weight: bold;
}
.new-account:hover{
  background-color: #42b72a;
}
.signup-card{
  width: 345px;
  margin: auto;
  text-align: justify;
  font-size: 0.8rem;
}

.signup-card p{
  font-size: 0.7rem;
}
.signup-mobile{
  width: 100%;
  margin-left: 1px;
}
.tooltips,.tooltips:hover{
  background:none;
  border: 0;
  color: #606770;
  font-size: 0.8rem;
}
.footer-navbar{
  width: 90%;
  font-size: 0.8rem;

}
.languages button{
  width: auto;
  padding: 0 2px;
}
.icon-thick{
  stroke-width: 1.5px;
  stroke: currentColor;
  border: 1px solid rgb(161, 161, 161);
  border-radius: 2px;
  width: 30px;
  height: 20px;
}
.footer-navbar span{
  font-size: 0.7rem;
  
}
.header{
  padding: 0px;
}

.top-menubar{
width: 100%;
background-color: #FFFFFF;
box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.1), 0 8px 16px rgba(0, 0, 0, 0.1);
  height: 60px;
  padding: 0px;
  position: fixed;
  z-index: 3;
}
.top-menubar i{
  font-size: 1.3rem;
}
.top-menubar .logo-wrapper .bi-facebook{
  color: #0866FF;
  font-size: 2.7rem;
}
.logo-wrapper{
  width: 27%;
  height: auto;
  float: left;
}
.logo-wrapper a{
  display: inline-block;
  font-size: 1rem;
  margin-top: -5px;
}
.top-sidemenu{
  width: 230px;
  height: auto;
  float:right;
  
}
.top-sidemenu .tooltips,.top-sidemenu .tooltips:hover,.logo-wrapper span{
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background-color: #F0F2F5;
  display: inline-block;
  text-align: center;
  margin-left: 10px;
  
}
.top-sidemenu .tooltips:hover{
  background-color:#E2E5E9;
  
}
.account_dropdown{
  width: 45px;
  border: 0;
  padding: 0;
  background: none;
  position: relative;
}
.account_dropdown i{
  position: absolute;
  top: 25px;
  left: 39px;
  font-size: 0.9rem;
  color: #464646;
  
}
 

.circle{
  width:36px;
  height:36px;
  border-radius: 50%;
  background-color: #D6D9DD;
      display: block;
    float: left;
    text-align: center;
    line-height: 36px;
    margin-right: 10px;
}
.dropdown-toggle::after{
  display: none;
}
.dropdown_label{
  width: 190px;
  display: block;
  float: left;
  font-size: 0.9rem;
  font-weight: bold;
  line-height: 34px;
  margin-left: 10px;
  padding: 5px 10px;
}
.dropdown_label:hover{
  background-color: #E3E5E8;
  border-radius: 10px;
  
  
}
.Middle_main_wrapper{
  padding-top: 60px;
}
.create_post_container{
  width: 90%;
  height: 140px;
  margin: 10px auto;
  border-radius: 10px;
  background-color: #FFFFFF;
  padding: 10px;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.1), 0 1px 2px rgba(0, 0, 0, 0.1)

}
.create_post button{
  background-color: #F0F2F5;
  border: none;
  width: 84%;
  margin-left: 10px;
  padding: 10px;
  border-radius: 25px;
  text-align: left;
  
}
.activity_container button i{
  font-size: 1.1rem;
  display: block;
  float: left;
}
.text-label{
  margin: 3px 0 0 3px;
  display: block;
  float: left;
  font-size: 0.8rem;
}
.activity_container  button{
  font-size: 0.8rem;
  font-weight: bold;
  color: #606770;
  margin:0px;
  padding: 0px;
  width: 33%;
}
.activity_container button:hover,.create_post button:hover{
  background-color: #E3E5E8;
  
}
.top_mainmenu{
  display: none;
}
/* create post- modal css */
.create_postmodal .modal-header{
  text-align: center;
}
.create_postmodal h5{
  width: 93%;
    float: left;
}
.post_profile img{
  display: block;
  float: left;
  width: auto;
  margin-right: 5px;
}
.post_profile span{
  display: block;
  float: left;
  width: 300px;
  font-size: 0.8rem;
}
.post_profile span button{
  display: block;
  font-size: 0.8rem;
  padding: 0px;
  text-align: left;
  margin-bottom: 10px;
}
.add_post {
  width:100%;
  height: 60px;
  margin: 0 auto;
  border: 1px solid #d1d0d0;
  border-radius: 8px;
  padding: 10px;
  font-size: 0.9rem;
}
.add_post p{
  width: 150px;
  float: left;
}
.add_post div{
  width: 210px;
  float: right;
  font-size: 1.5rem;
}
.add_post i{
  display: inline-block;
  margin: 0 5px;
}
.post_btn{
  width:100%;
  margin: auto;
  display: block;
}
/* end of create post- modal css */


/* view post css */
.viewpost_container{
  width: 90%;
  margin: 10px auto;
  border-radius: 10px;
  background-color: #FFFFFF;
  padding: 10px;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.1), 0 1px 2px rgba(0, 0, 0, 0.1)

}
.viewpost_container p{
  clear: both;
  font-size: 0.9  rem;
}
.post_profile,.post_name{
  width: auto;
  height: 60px;
  display: block;
  margin: 0; padding: 0;
  float: left;
  font-size: 0.9rem;
}
.post_name h6{
  font-size: 0.8rem;
}
.right_icons{
  width: 60px;
  float: right;
  display: block;
}
.right_icons i{
  font-size: 1.5rem;
  
}
.post_img,.like_comment_count,.like_comment_share{
  width: 100%;
  height: auto;
  font-size: 1rem;
  margin-top: 3px;
}
.post_img{
  height: 488px;
  overflow: hidden;
}
.post_img img{
  width: 100%;
  height: 100%;
  object-fit: cover;
  font-size: 0.9rem;
}
.like_count{
  width: 50%;
  float: left;
}
.comment_count{
  width: 50%;
  float: right;
  text-align: right;
}
.like_comment_share button{
  width: 33%;
  color: #65686C;
  font-size: 0.9rem;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

}
.like_comment_share button:hover{
  background-color:#E3E5E8;
}
/* end of view post css */


/* stories carousel slider */
    .story-wrapper{
      width: 94%;
      margin: 10px auto;
    }

		.card-wrapper{
			display: flex;
      
		}
		.card{
			margin: 0.5em;
      height: 173px;
			width: calc(100%/3);
      border-radius: 10px;
		}
    .large_screen_card{
      display: none;
    }
		.image-wrapper{
      width: 100%;
			margin: 0 auto;
      position: relative;
      
		}
    .above_img{
      position: absolute;
      width: 40px;
      height: 40px;
      border-radius: 50%;
      z-index: 2;
      border: 3px solid #0866ff;
      top: 15px;
      left: 10px;
      
    }
		.bottom_img{
			max-width: 100%;
			max-height: 100%;
      border-radius: 10px;
      position: relative;
      top: 0;
      bottom: 0;
		}
    
		.stori_name{
			position: absolute;
      width: 90%;
      height: 40px;
      color: #FFFFFF;
      font-size: 0.9rem;
      z-index: 2;
      top: 126px;
      left: 10px;
      line-height: 16px;
      font-weight: bold;
		}
    .LeftNavbar{
      display: none;
    }
    .card{
      height: 142px;
    }
    .stori_name{
      top: 106px;
      font-size: 0.8rem;
    }
    .LeftNavBar,.RightSidebar{
      display: none;
    }
    
    

/* end of stories carousel slider */





/* --- Tablet/Medium Screens and Up --- */
@media (min-width: 768px) and (max-width: 1199px) {
  .login-content {
    display: flex;
    flex-wrap: wrap; 
    width: 100%;
    flex-grow: 1; 
  }
  .logo-section{
    text-align: left;
    font-size: 1.5rem;
  }
  .logo-section p, .logo-section span {
    text-align: left;
  }
  .logo-section p{
    margin-left: 20px;
    

  }
  .login-form-section {
    width: 300px;
    flex-grow: 1; 
  }
  .logo-section{
    display: inline;
    width: 400px;
  }
  .signup-card{
  width: 400px;
  }
  .main_post_container{
    width: 75%;
    margin: 0 auto;
  }
  .logo-wrapper{
    width: 15%;
  }
  .top_mainmenu{
    display: inline-block;
    width: 50%;
  }
  .top_mainmenu span{
    width: 20%;
    display: inline-block;
    margin: 10px 0;
    text-align: center;
    font-size: 1.5rem;
  }
  .top_mainmenu i,.top_mainmenu i:hover{
    color: #0866FF;
    font-size: 1.5rem;
    cursor: pointer;
  }
  .activity_container button i{
    font-size: 1.4rem;
  }
  .text-label{
    font-size: 0.9rem;
    margin: 5px 0 0 5px;
  }
  .top-sidemenu{
    width: 220px;
  }
  .top-sidemenu .tooltips{
    margin: 0 5px;
  }
  .top_mainmenu{
    margin-left: 5vw;
    
  }
  .large_screen_card,.LeftNavBar,.RightSidebar{
    display: none;
  }
  .card{
    height: 203px;
  }
  .bottom_img{
    object-fit: cover;
  }
  .stori_name{
    top: 170px;
  }
}

/* --- Desktop/Large Screens and Up --- */
@media (min-width: 1200px) {

/* Ensure the body and html elements cover the full height if needed */

  #root{
  width: 100%;
  margin: 0;
  padding: 0;
  display: flex;
    flex-direction: column;
    /* height: 100vh;  */
}
  .login-content{
    width: 70%; 
  }
  .login-form-section {
    width: 300px;
    flex-grow: 1; 
  }
  .logo-section{
    display: inline;
    width: 400px;
  }
  .login-form-section h6{
    font-size: 0.9rem;
  }
  .container-md{
    max-width: 970px;
  }
  
  .top_mainmenu{
    margin-left: 10vw;
  }
  .story-wrapper{
    width:92%;
  }
  .card-wrapper{
    height: 250px;
  }
  .card{
    width: calc(100%/5);
    height: 206px;
  }
  .bottom_img{
    width: 100%;
  }
  .stori_name{
    top: 196px;
  }
  .large_screen_card{
    display: inline-block;
  }
  .main_post_container{
    width: 60%;
    flex: 1;
    overflow-y: scroll; 
    height: 100vh;    
    margin: 0;
  
   
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
  

  /* 3. Hide scrollbar for IE, Edge, and Firefox */

  }
  .main_post_container::-webkit-scrollbar {
    display: none;
    width: 0; /* Optional: ensures no space is reserved for the scrollbar */
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
  

  /* 3. Hide scrollbar for IE, Edge, and Firefox */

  }
  .Middle_main_wrapper{
    display: flex;
    
    width: 100%;
     overflow: hidden;
     flex: 1;
  }
  /* left navbar */
.LeftNavBar,.RightSidebar{
  display: block; 
  width: 20%;
  height: 600px;
  overflow-y: auto;  
}
.nav-item li{
  display: block;
  width: 100%;
  
}
nav  > ul > li > a{
 
  font-size: 1rem;
  font-weight: bold;
  line-height: 25px;
}
  nav  > ul > li > a img{
    margin-right: 15px;
  }
 nav  > ul > li > a:hover{
  background-color: #E3E5E8;
  border-radius: 10px;
 }
nav  > ul > li > a > i{
  font-size: 1.5rem;
  margin-right: 20px;
}

/* end of left navbar */

/* right side advertisment */
.advertise_wrapper{
  width: 100%;
   height: 137px;
  padding: 10px;
  display: block;
  clear: both;
  cursor: pointer;
}
.advertise_wrapper:hover{
  background-color:#E5E7EA;
  border-radius: 10px;
}
.advertise_wrapper img{
  width: 50%;
  display:block;
  float: left;
  border-radius: 10px;
}
.advertise_wrapper span{
  width: 40%;
  display:block;
  float: left;
  color: #030303;
  margin-left: 10px;
  line-height: 20px;
}
.advertise_wrapper span p{
  font-size: 0.9rem;
  color: #5F6266;
  font-weight: 400;
}
.birthday_wrapper{
  display: block;
  height: 60px;
}
.birthday_wrapper i{
  color: #1E97ED;
  width: 10%;
  height: 60px;
  display: block;
  float: left;
  font-size: 1.2rem;
}
.birthday_wrapper span{
  width:90%;
  height: 60px;
  display: block;
  float: left;
}
.activity_container button i{
      font-size: 1.5rem;
    }
    .text-label{
      margin: 6px 0 0 10px;
      font-size: 1rem;
    }
    .activity_container button{
      margin: 0rem 1.4rem;
      width: 26%;
    }
}
/* end of right side advertisment */